// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




title {
	font: "Cormprant SC";
	font-style: medium;
	font-size:100px;
}

body {
	font-family: "Cormorant SC";
   font-style: normal 400;
   font-size: 17px;
   line-height: 26px;
}

