
	<head> 
		<title>Generation Dream</title>
		<link rel="stylesheet" type = "text/css" href = "style.css">
	</head>
	
	<center><h1 class="head">Generation Dream</h1></center>

	<body>
	<script type="text/javascript" src="portfolio.js"></script>
	<center><img class="IMG" src="paris.gif"></center>
		<div class="reasons">
			<center><h2 class="sum">About Us</h2></center>
			<p>This website was created by four girls: Raven Sims, Abigail, Michelle Bautista, and Laisha Calalpa. We are rising juniors in high school We are all part of the Girls Who Code Summmersion Immersion Program. It is a 7-week coding program who's objective is to get more women to obtain a job in the computer science field. At the last two weeks of the program we were required to create a website/app based on a topic we feel strong about. We came up with this website who's sole purpose is too provide educational opportunities and assistance to young undocumented immigrants. Many of them live with the stigma that your legal status determines the path of your education.</p>
		</div>
		<center><img class="image" src="https://pbs.twimg.com/media/CnWaGCGWcAA6Ohy.jpg" alt="Girls Who Code" height="200px" width="300px"></center>

		<div class="why">
			<h3>Why we chose this topic?</h3>
			<p>We chose to do create our website based on this topic because to many young undocumented immigrants suffer from the stigma that your legal status determines your educational opportunities. </p>
		<footer>
			Copyright &copy; 2016 Girls Who Code. All rights reserved.<br/>
			Layout adapted from <a href="http://www.web-designers-directory.org/" target="_blank">Web Designers' Directory</a>.
		</footer>
	</body>
