
	<head> 
		<title>Generation Dream</title>
		<link rel="stylesheet" type = "text/css" href = "style.css">
	</head>
	
	<body>
	<script type="text/javascript" src="portfolio.js"></script>
	<center><img class="IMG" src="paris.gif"></center>
		<div class="reasons">
			<center><h2 class="sum">About Us</h2></center>
			<p>This website was created by four girls: Raven Sims, Abigail Barnett, Michelle Bautista, and Laisha Calalpa. We are rising juniors in high school We are all part of the Girls Who Code Summmer Immersion Program. It is a 7-week coding program who's objective is to get more women to obtain a job in the computer science field. At the last two weeks of the program, we were required to create a website/app based on a topic we feel strong about. We came up with this website who's sole purpose is too provide educational opportunities and assistance to young undocumented immigrants. Many of them live with the stigma that your legal status determines the path of your education.</p>
		</div>
		<center><img class="image" src="https://pbs.twimg.com/media/CnWaGCGWcAA6Ohy.jpg" alt="Girls Who Code" height="200px" width="300px"></center>

		<div class="why">
			<center><h3>Why this topic?</h3></center>
			<p>We chose to do create our website based on this topic because too many young undocumented immigrants are conditioned to believe that their legal status determines their educational opportunities. Nearly 61% of undocumented immigrants lack a high school diploma, with just 25% graduating high school, 5% completing some college, and only 9% becoming college graduates. Yet, there is hope to collectively change this reality. We can do our part to make scholarships better known to those who need them. We feel that undocumented youth immigrants should have the same educational opportunities available as every other youth.  </p>
		<footer id="footer">
			Copyright &copy; 2016 Generation Dream. All rights reserved.<br/>
			Layout adapted from <a href="http://www.web-designers-directory.org/" target="_blank">Web Designers' Directory</a>.
		</footer>
	</body>
