<div class="jumbotron">
<center><h1>Generation Dream</h1></center>
<center><p> Breaking the stigma of thinking that your legal status determines your educational opportunities.
</p></center>
    
<center><img src="https://degette.house.gov/sites/degette.house.gov/files/styles/congress_featured_image/public/featured_image/issues/immigration.jpg?itok=f3X0mV-6" style="width:300px;height:300px;" class="img-circle"></center>
    
    
<div></div>
