<center><h1>Media</h1></center>

<center><p>Valedictorian Speech</p></center>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/wg-9atcbsdM" frameborder="0" allowfullscreen></iframe></center>
<center><p>Larissa Martinez graduated at the top of her high school class with a 4.95 GPA.</p></center>
<center><p>She used her valedictory speech as a chance to paint a different portrait of undocumented immigrants.</p></center>

<center><p>
Video courtesy of
<a href="https://www.youtube.com/" target="_blank">Youtube</a>.
</p></center>

<br>
<center><p><a href="http://roybal-allard.house.gov/students/">Californian Congresswoman Lucille Roybal-Allard's Page Providing Useful Information About Various Types of Financial Aid</a></p></center></br>
<br>
<center><p>"Spare Parts"</p></center>
<center><img class="img-responsive" class="img-rounded" src="http://www.sciencefriday.com/wp-content/uploads/2015/07/12791-1.JPG" alt="Group Pic"></center>
<center>In 2004, four high school teenagers from Arizona won the Marine Advanced Technology Education Underwater Robotics competition with a rover cobbled together from PVC pipe and spare parts. They managed to win against MIT's robot, among others from universities like Cornell University. Three of the group were undocumented immigrants who risked the possibility of being deported when crossing state lines for the competition.</center>
