<center><h1>Media</h1></center>

<center><p>Valedictorian Speech</p></center>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/wg-9atcbsdM" frameborder="0" allowfullscreen></iframe></center>
<center><p>Larissa Martinez graduated at the top of her high school class with a 4.95 GPA.</p></center>
<center><p>She used her valedictory speech as a chance to paint a different portrait of undocumented immigrants.</p></center>

<center><p>
Video courtesy of
<a href="https://www.youtube.com/" target="_blank">Youtube</a>.
</p></center>
<<<<<<< HEAD

=======
>>>>>>> 6ecf7691596858309b61ece1a76eb8680103ba44
