<link rel="stylesheet" type="text/css" href="pages.css">
<div class="" text-center">
<center><h1><strong>DREAMING IS FOR EVERYONE</strong></h></center>
  <br>
  <div class="row row-centered">

    <div class="col-sm-4 col-centered"> 
      <a href="http://www.goldendoorscholars.org"><img class= "img-responsive" class="img-rounded" src="https://s-media-cache-ak0.pinimg.com/236x/8d/2b/76/8d2b76ca8e8839a1887dfa2716bb83a4.jpg" alt="Golden Door" ></a>
    </div>

    <div class="col-sm-4 col-centered">
      <a href="https://www.questbridge.org/"><img class= "img-responsive" class="img-rounded" src="https://www.pomona.edu/sites/default/files/images/insets/questbridgelogo.gif" alt="QuestBridge"></a>
    </div>

    <div class="col-sm-4 col-centered">
      <a href="http://www.maldef.org/leadership/scholarships/"><img class= "img-responsive" class="img-rounded" src="http://static1.squarespace.com/static/50b79574e4b0ece0e0238508/t/51095c47e4b093a50121b424/1359567944554/MALDEF.jpg" alt="Maldef" ></a>
    </div>

    <div class="col-sm-4 col-centered">
      <a href="http://www.univision.com/noticias/becas/inscribete-ahora-para-las-becas-nuestra-juventud"><img class= "img-responsive" class="img-rounded" src="http://cdn4.uvnimg.com/dims4/default/1f8c895/2147483647/crop/579x326%2B78%2B0/resize/1240x698/quality/75/?url=http%3A%2F%2Fcdn4.uvnimg.com%2F02%2Fdd%2F5cb96b1741a9bd45a8e5698c97b9%2Fbecas.jpg" alt="Nuestra Joventud" ></a>
    </div>

    <div class="col-sm-4 col-centered">
      <a href="http://roybal-allard.house.gov/uploadedfiles/student_resource_guide.pdf"><img class= "img-responsive" class="img-rounded" src="http://msanniedelgado.weebly.com/uploads/5/7/3/5/57355063/9683893_orig.jpg" alt="Congresswoman Roybal-Allard"></a>
    </div>

    <div class="col-sm-4 col-centered">
    <a href="http://www.ucarecdn.com/6c8a67b1-803a-4c41-a0fc-05911f8feb14/-/preview/300x300/"><img class="img-responsive" class="img-rounded" src="https://media.ford.com/content/fordmedia/fna/us/en/asset.download.image.original.html/content/dam/fordmedia/North%20America/US/2015/12/15/girls-who-code-logo.jpg" alt ="Girls Who Code"></a>
    </div>

    <div class="col-sm-4 col-centered">
    <a href="http://www.labor.ucla.edu/what-we-do/dream-resource-center/dream-summer/"><img class="img-responsive" class="img-rounded" src="https://yt3.ggpht.com/-Mtwel6bB45s/AAAAAAAAAAI/AAAAAAAAAAA/33FSot3XzIM/s88-c-k-no/photo.jpg" alt="Dream Summer"></a>
    </div>

    <div class="col-sm-4 col-centered">
    <a href="http://ascendfundny.org/"><img class="img-responsive" class="img-rounded" src="http://ascendfundny.org/wp-content/uploads/2013/09/cropped-AEF-Logo-WebSite.jpg" alt="Ascend Fund"></a>
    </div>


  </div>
</div>