<div class="container text-center">
<center><h2><strong>DREAMING IS FOR EVERYONE</strong></h2></center>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <h3>Golden Door</h3><br>
      <a href="http://www.goldendoorscholars.org"><img class= "img-resonsive" src="https://s-media-cache-ak0.pinimg.com/236x/8d/2b/76/8d2b76ca8e8839a1887dfa2716bb83a4.jpg" alt="Golden Door" style="width:236px;height:236px;" ></a>
      </div>

    <div class="col-sm-4">
      <h3>Quest Bridge</h3><br>
      <a href="https://www.questbridge.org/"><img class= "img-responsive" src="https://www.pomona.edu/sites/default/files/images/insets/questbridgelogo.gif" alt="QuestBridge" style="width:236px;height:236px;" ></a>
      </div>
   
    <div class="col-sm-4">
      <h3>Maldelf</h3><br>
      <a href="http://www.maldef.org/leadership/scholarships/"><img class= "img-responsive" src="http://static1.squarespace.com/static/50b79574e4b0ece0e0238508/t/51095c47e4b093a50121b424/1359567944554/MALDEF.jpg" alt="Maldef" style="width:236px;height:236px;"></a>
    </div>