<link rel="stylesheet" type="text/css" href="pages.css">
<div class="container text-center">
<center><h1><strong>DREAMING IS FOR EVERYONE</strong></h></center>
  <br>
  <div class="row row-centered">
    <div class="col-sm-4 col-centered"> 
      <h2>Golden Door</h2><br>
      <a href="http://www.goldendoorscholars.org"><img class= "img-responsive" src="https://s-media-cache-ak0.pinimg.com/236x/8d/2b/76/8d2b76ca8e8839a1887dfa2716bb83a4.jpg" alt="Golden Door" ></a>
    </div>

    <div class="col-sm-4 col-centered">
      <h3>Quest Bridge</h3><br>
      <a href="https://www.questbridge.org/"><img class= "img-responsive" src="https://www.pomona.edu/sites/default/files/images/insets/questbridgelogo.gif" alt="QuestBridge"></a>
    </div>
   
    <div class="col-sm-4 col-centered">
      <h4>Maldelf</h4><br>
      <a href="http://www.maldef.org/leadership/scholarships/"><img class= "img-responsive" src="http://static1.squarespace.com/static/50b79574e4b0ece0e0238508/t/51095c47e4b093a50121b424/1359567944554/MALDEF.jpg" alt="Maldef" ></a>
    </div>

    <div class="col-sm-4 col-centered">
      <h5>Nuestra Joventud</h5>
      <a href="http://www.univision.com/noticias/becas/inscribete-ahora-para-las-becas-nuestra-juventud"><img class= "img-responsive" src="http://cdn4.uvnimg.com/dims4/default/1f8c895/2147483647/crop/579x326%2B78%2B0/resize/1240x698/quality/75/?url=http%3A%2F%2Fcdn4.uvnimg.com%2F02%2Fdd%2F5cb96b1741a9bd45a8e5698c97b9%2Fbecas.jpg" alt="Nuestra Joventud"></a>
    </div>

  </div>
</div>